.cccccc
  = form_for @address do |f|
    = render "devise/shared/error_messages", resource: @address
    .Form
      = f.label :post_code
      (ハイフン無し)
      %br/
      = f.text_field :post_code, autofocus: true, autocomplete: "post_code", placeholder: "例) 3245566"
    .Form
      = f.label :prefecture
      %br/
      = f.select :prefecture, Address.prefectures.keys, autocomplete: "prefecture", placeholder: "例) 東京都"
    .Form
      = f.label :city
      %br/
      = f.text_field :city, autocomplete: "city", placeholder: "例) 足立区青井"
    .Form
      = f.label :house_number
      %br/
      = f.text_field :house_number, autocomplete: "house_number", placeholder: "例) 1-16"
    .Form
      = f.label :building_name
      %br/
      = f.text_field :building_name, autocomplete: "building_name", placeholder: "例) オフィスマンション201"
    .action
      = f.submit 'Sign up'

= render "devise/shared/links"