= render "/products/header"
= render "/mypages/left-menubar"

.show
  .show__frame
    .show__frame__title
      登録クレジットカード情報
    .card_list
      .card_list__info
        .card_list__info__title
          クレジットカード一覧
        .card_list__info__inner
          .card_list__info__inner__image
            = image_tag 'IC-chip.png', width: '60', height: '55'
          .card_list__info__inner__brand
            = image_tag "Visa.svg", width: '60', height: '55', class: "credit_card_info__brand__img"
          .card_info__inner__numbers
            .number
              **** **** **** 4242
            .expiration_date
              .expiration_date__title
                有効期限
              .expiration_date__info
                12 / 20
          .hands
            = image_tag 'credithands'
          .destroy_function
            .destroy_function__link
              = link_to credit_card_path, method: :delete, class: "destroy_function__link__btn" do
                削除する