.wrapper2
  .mypage-right-side
    .mypage-right-side__header
      プロフィール
    .mypage-right-side-prof
      .mypage-right-side-prof__main
        %p.span.mypage-right-side-prof__main__nickname
          ニックネーム：
          = current_user.nickname
        %p.mypage-right-side-prof__main__email
          メールアドレス：
          = current_user.email
        %p.mypage-right-side-prof__main__name
          お名前：
          = current_user.last_name
          = current_user.first_name
        %p.mypage-right-side-prof__main__kana
          お名前カナ：
          = current_user.last_name_kana
          = current_user.first_name_kana
        %p.mypage-right-side-prof__main__birthday
          生年月日：
          = current_user.birthday_year
          年
          = current_user.birthday_month
          月
          = current_user.birthday_day
          日
        %p.mypage-right-side-prof__main__tell
          電話番号：
          = current_user.tel