= render "/products/header"
- breadcrumb :bookmark
= render "layouts/breadcrumbs"
= render "/mypages/left-menubar"
.topMain__container__productBox
  .topMain__container__head
    %p いいね商品一覧
  .topMain__container__productBox__lists
    - @products.each do |product|
      .topMain__container__productBox__lists__list
        = link_to product_path(product.id) do
          .topMain__container__productBox__lists__list__image
            = image_tag "#{product.images[0].url}", size: '220x150'
            -if product.buyer_id.present?
              .topMain__container__productBox__lists__list__image__sold
                .topMain__container__productBox__lists__list__image__sold__inner
                  SOLD
          .topMain__container__productBox__lists__list__body
            %p.topMain__container__productBox__lists__list__body__name
              = product.name
            .topMain__container__productBox__lists__list__body__box
              = product.price
              円
              .topMain__container__productBox__lists__list__body__box--like
                = icon('fas', 'star', class: 'no')
            %p.topMain__container__productBox__lists__list__body__tax
              (税込)
