.purchase-details
  = form_tag(action: :purchase, method: :post, buyer_id: @products) do
    = image_tag 'logo.png', alt: '写真', height: '90px', width: '200px', class: 'icon'
    .purchase-details__wrapper
      .purchase-details__wrapper__wrapper
        .purchase-details__wrapper__wrapper__namegit 
          購入内容の確認
        .purchase-details__wrapper__wrapper__product-content
          .purchase-details__wrapper__wrapper__product-content__image
            - @products.images.first(1).each do |url|
              = image_tag "#{url.url}", alt: '写真', height: '100px', width: '100px'
          .purchase-details__wrapper__wrapper__product-content__text
            .purchase-details__wrapper__wrapper__product-content__text__box-top
              = @products.name
            .purchase-details__wrapper__wrapper__product-content__text__box-bottom
              (税込)¥
              = @products.price
        .purchase-details__wrapper__wrapper__payment-amount
          .purchase-details__wrapper__wrapper__payment-amount__text
            支払い金額
          .purchase-details__wrapper__wrapper__payment-amount__price
            ¥
            = @products.price
        .purchase-details__wrapper__wrapper__payment
          .purchase-details__wrapper__wrapper__payment__left-box
            .purchase-details__wrapper__wrapper__payment__left-box__top
              支払い方法
            .purchase-details__wrapper__wrapper__payment__left-box__middle
              %br クレジットカード
              %br 
                = "**** **** ****" + @customer_card.last4
                - exp_month = @customer_card.exp_month.to_s
                - exp_year = @customer_card.exp_year.to_s.slice(2,3)
              %br 
                有効期限 
                = exp_month + " / " + exp_year
            .purchase-details__wrapper__wrapper__payment__left-box__bottom
              = image_tag 'JCB.png', alt: '写真', height: '100px', width: '100px'
          .purchase-details__wrapper__wrapper__payment__right-box
            .purchase-details__wrapper__wrapper__payment__right-box__text
              %script.payjp-button{"data-key"=>ENV["PAYJP_PRIVATE_KEY"], "data-partial" => "true", :src => "https://checkout.pay.jp/", :type => "text/javascript"}
        .purchase-details__wrapper__wrapper__shipping-address
          .purchase-details__wrapper__wrapper__shipping-address__left-box
            .purchase-details__wrapper__wrapper__shipping-address__left-box__top
              配送先
            .purchase-details__wrapper__wrapper__shipping-address__left-box__bottom
              〒
              = current_user.address.post_code
              = current_user.address.prefecture
              = current_user.address.city
              = current_user.address.house_number
              = current_user.address.building_name
              %br
              - if current_user.address.last_name.present?
                名前:
                = current_user.address.last_name
                = current_user.address.first_name
                %br
                名前(フリガナ):
                = current_user.address.last_name_kana
                = current_user.address.first_name_kana
          .purchase-details__wrapper__wrapper__shipping-address__right-box
            .purchase-details__wrapper__wrapper__shipping-address__right-box__text
              
        .purchase-details__wrapper__wrapper__purchase-button
          = submit_tag "購入",class:"btn--blue" 