-# バナー------------------------------------------------
.topMain__banner
  .topMain__banner__inner
    .topMain__banner__inner__title
      %p だれでもかんたん、人生を変えるフリマアプリ
    .topMain__banner__inner__text
      %p 今すぐ無料ダウンロード！
    .topMain__banner__inner__btn
      = link_to class: "topMain__banner__inner__btn--appleBtn" do
        = image_tag "app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
      = link_to class: "topMain__banner__inner__btn--googleBtn" do
        = image_tag "google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"
-# フッター------------------------------------------------
%footer.footer
  %ul.footer__contents
    .footer__contents__content
      .footer__contents__content__head
        %p FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社)", "#"
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "FURIMA利用規約", "#"
        %li
          = link_to "ポイントに関する特約", "#"
    .footer__contents__content
      .footer__contents__content__head
        %p FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧", "#"
        %li
          = link_to "ブランド一覧", "#"
    .footer__contents__content
      .footer__contents__content__head
        %p ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "#"
        %li
          = link_to "お知らせ", "#"
  .footer__logo
    = link_to root_path do
      = image_tag "logo/logo-white.png", size:'160x46'
  %p.footer__copy © FURIMA
-# 出品アイコン---------------------------------------------
.displayIcon
  = link_to new_product_path do
    %span.displayIcon__text
      出品する
    = image_tag "icon/icon_camera.png"
