- @category2 .each do |i|
  .product__userRelated__productsBox__products
    - i.images.first(1).each do |a|
      .product__userRelated__productsBox__products__image
        = link_to product_path(a.product) do
          = image_tag "#{a.url}",class: "product__userRelated__productsBox__products__image"
      .product__userRelated__productsBox__products__body
        .product__userRelated__productsBox__products__body__name
          = i.name
        .product__userRelated__productsBox__products__body__info
          .product__userRelated__productsBox__products__body__info__price
            ¥
            = i.price
          .product__userRelated__productsBox__products__body__info__like
            %i.fa.fa-star
            1
        .product__userRelated__productsBox__products__body__tax
          (税込)