- @category2.shuffle.first(9).each do |i|
  - unless @product.id == i.id
    .product__userRelated__productsBox__products
      - i.images.first(1).each do |a|
        .product__userRelated__productsBox__products__image
          = link_to product_path(a.product) do
            = image_tag "#{a.url}",class: "product__userRelated__productsBox__products__image"
            -if a.product.buyer_id.present?
              .product__userRelated__productsBox__products__image__sold
                .product__userRelated__productsBox__products__image__sold__inner
                  SOLD
        .product__userRelated__productsBox__products__body
          .product__userRelated__productsBox__products__body__name
            = i.name
          .product__userRelated__productsBox__products__body__info
            .product__userRelated__productsBox__products__body__info__price
              ¥
              = i.price
            .product__userRelated__productsBox__products__body__info__like
          .product__userRelated__productsBox__products__body__tax
            (税込)
