.product
  .product__topContent
    .product__topContent__itemBox
      .product__topContent__itemBox__name
        -# 投稿機能が実装できたら表示させる
        -# = @product.name
      .product__topContent__itemBox__imageBox
        -# 投稿機能が実装できたら画像を表示させる
        -# - @product.images.first(1).each do |url|
          -# = image_tag "#{url.url}", class: "product__topContent__itemBox__imageBox__mainImage"
        .product__topContent__itemBox__imageBox__subImages
          -# 投稿機能が実装できたら画像を表示させる
          -# - @product.images.drop(1).first(9).each do |url|
          -#   = image_tag "#{url.url}", class: "product__topContent__itemBox__imageBox__subImages__subImage"
      .product__topContent__itemBox__priceBox
        .product__topContent__itemBox__priceBox__price
          -# 投稿機能が実装できたら表示させる
          -# = @product.price
        .product__topContent__itemBox__priceBox__tax
          (税込) 送料込み
      .product__topContent__itemBox__buyBotton
        = link_to "#" do
          購入画面に進む
        -# ログイン機能、リンクが出来たら入れ替える。
        -# - if user_signed_in?
        -#   - unless current_user.id == @producs.user_id
        -# = link_to product_"購入画面のpath"(@products) do
        -#   購入画面に進む
        -# ----ログインしていない人用の画面作るなら-----
        -# - else
        -#   = link_to require_login_items_path do
        -#     ログインがまだな方はこちらからお願いします
      .product__topContent__itemBox__description
        -# 投稿機能が実装できたら表示させる
        -# = @product.description
      %table.product__topContent__itemBox__table
        %tbody
          %tr
            %th
              出品者
            %td
              -# 投稿機能が実装できたら表示させる
              -# = @user.nickname
          %tr
            %th
              カテゴリー
            %td
              = @category.name
          %tr
            %th
              ブランド
            %td
              -# 投稿機能が実装できたら表示させる
              -# = @brand.name
          %tr
            %th
              商品のサイズ
            %td
              100個
          %tr
            %th
              商品の状態
            %td
              -# 投稿機能が実装できたら表示させる
              = @condition.status
          %tr
            %th
              配送料の負担
            %td
              -# 投稿機能が実装できたら表示させる
              -# = @delivery_charge.charge_rule
          %tr
            %th
              発送元の地域
            %td
              -# 投稿機能が実装できたら表示させる
              -# = @product.prefecture
          %tr
            %th
              発送日の目安
            %td
              -# 投稿機能が実装できたら表示させる
              -# = @product.day
      .product__topContent__itemBox__buttonBox
        .product__topContent__itemBox__buttonBox__leftBotton
          %i.fa.fa-star
          お気に入り 1
        .product__topContent__itemBox__buttonBox__rightBotton
          %i.fa.fa-flag
          不適切な商品の通報
      .product__topContent__itemBox__userButtonBox
        .product__topContent__itemBox__userButtonBox--edit
          = link_to "#" do
            編集
        .product__topContent__itemBox__userButtonBox--destroy
          = link_to "#" do
            削除
        -# ログイン機能が付いたら入れ替え
        -# - if user_signed_in?
        -#   - if current_user.id == @products.user_id
        -#    .product__topContent__itemBox__userButtonBox--edit
        -#       = link_to "編集ページ" do
        -#         編集
        -#    .product__topContent__itemBox__userButtonBox--destroy
        -#      = link_to "削除ページ" do
        -#       削除
    -# コメント機能
    .product__topContent__commentBox
      - if current_user
        = form_with(model: [@product, @comment], local: true, id: "new_comment") do |f|
          = f.text_area :text, placeholder: "コメントする", class: "product__topContent__commentBox__text"
          .product__topContent__commentBox__caution
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = button_tag type: "submit", class: "product__topContent__commentBox__submit" do
            %i.fa.fa-comment
            コメントする
      - else
      %p コメントの投稿には、
      = link_to "ログイン", new_user_session_path
      または
      = link_to "新規会員登録", new_user_registration_path
      が必要です
      .product__topContent__commentBox__index
        %p.product__topContent__commentBox__index__head ＜コメント一覧＞
        - if @comments
          - @comments.each do |comment|
            .product__topContent__commentBox__index__box
              -# ユーザーの詳細が出来たらリンクにする
              %span.product__topContent__commentBox__index__box--name= comment.user.nickname
              - if comment.user.id == @product.saler_id
                %span.product__topContent__commentBox__index__box--saler 出品者
              %span.product__topContent__commentBox__index__box--date= comment.created_at.strftime("%Y-%m-%d %H:%M")
              .product__topContent__commentBox__index__box--text= comment.text

  .product__topContent__link
    .product__topContent__link__previous
      < 前の商品
    .product__topContent__link__after
      後ろの商品 >
  .product__userRelated
    .product__userRelated__userName
      = @category.name
    .product__userRelated__productsBox
      = render 'userRelated'
      = render 'userRelated'
      = render 'userRelated'
      = render 'userRelated'
      = render 'userRelated'

