.product
  .product__topContent
    .product__topContent__itemBox
      .product__topContent__itemBox__name
        -# = @product.name
      .product__topContent__itemBox__imageBox
        -# - @product.images.first(1).each do |url|
          -# = image_tag "#{url.url}", class: "product__topContent__itemBox__imageBox__mainImage"
        .product__topContent__itemBox__imageBox__subImages
          -# - @product.images.drop(1).first(10).each do |url|
          -#   = image_tag "#{url.url}", class: "product__topContent__itemBox__imageBox__subImages__subImage"
      .product__topContent__itemBox__priceBox
        .product__topContent__itemBox__priceBox__price
          -# = @product.price
        .product__topContent__itemBox__priceBox__tax
          (税込) 送料込み
      .product__topContent__itemBox__buyBotton
        = link_to "#" do
          購入画面に進む
        -# ログイン機能、リンクが出来たら入れ替える。
        -# - if user_signed_in?
        -#   - unless current_user.id == @producs.user_id
        -# = link_to product_"購入画面のpath"(@products) do
        -#   購入画面に進む
        -# ----ログインしていない人用の画面作るなら-----
        -# - else
        -#   = link_to require_login_items_path do
        -#     ログインがまだな方はこちらからお願いします
      .product__topContent__itemBox__description
        -# = @product.description
      %table.product__topContent__itemBox__table
        %tbody
          %tr
            %th
              出品者
            %td
              -# = @user.nickname
          %tr
            %th
              カテゴリー
            %td
              = @category.name
          %tr
            %th
              ブランド
            %td
              -# = @brand.name
          %tr
            %th
              商品のサイズ
            %td
              100個
          %tr
            %th
              商品の状態
            %td
              -# = @condition.status
          %tr
            %th
              配送料の負担
            %td
              -# = @delivery_charge.charge_rule
          %tr
            %th
              発送元の地域
            %td
              -# = @product.prefecture
          %tr
            %th
              発送日の目安
            %td
              -# = @product.day
      .product__topContent__itemBox__buttonBox
        .product__topContent__itemBox__buttonBox__leftBotton
          %i.fa.fa-star
          お気に入り 1
        .product__topContent__itemBox__buttonBox__rightBotton
          %i.fa.fa-flag
          不適切な商品の通報
      .product__topContent__itemBox__userButtonBox
        .product__topContent__itemBox__userButtonBox--edit
          = link_to "#" do
            編集
        .product__topContent__itemBox__userButtonBox--destroy
          = link_to "#" do
            削除
        -# ログイン機能が付いたら入れ替え
        -# - if user_signed_in?
        -#   - if current_user.id == @products.user_id
        -#    .product__topContent__itemBox__userButtonBox--edit
        -#       = link_to "編集ページ" do
        -#         編集
        -#    .product__topContent__itemBox__userButtonBox--destroy
        -#      = link_to "削除ページ" do
        -#       削除

    .product__topContent__commentBox
      %textarea.product__topContent__commentBox__text
      .product__topContent__commentBox__caution
        相手のことを考え丁寧なコメントを心がけましょう。
        %br
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %button.product__topContent__commentBox__submit
        %i.fa.fa-comment
        コメントする
  .product__topContent__link
    .product__topContent__link__previous
      < 前の商品
    .product__topContent__link__after
      後ろの商品 >
  .product__userRelated
    .product__userRelated__userName
      = @category.name
    .product__userRelated__productsBox
      = render 'userRelated'
      = render 'userRelated'
      = render 'userRelated'
      = render 'userRelated'
      = render 'userRelated'

